.container
  .row
    .hero-unit
      div
        - if (req.postResult) {
            div.alert.alert-success
              button(type='button', data-dismiss='alert').close
                &times;
              h4= req.postResult
        - }
      div
        h2= title

