.container
  .row
    .hero-unit
      div
        - if (req.alert) {
            div(class=req.alert.class).alert
              button(type='button', data-dismiss='alert').close
                &times;
              h4= req.alert.text
        - }
      div
        h2= title

