head
  title= title
  link(rel='stylesheet', href='/libs/bootstrap/css/simplex.bootstrap.min.css')
  link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
