.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .brand Display-o-Matic 3000
      div.nav-collapse
        ul.nav
          li
            a(href='/') Home
          li
            a(href='/texts') Texts
