!!!
html
  include includes/head
  body
    include includes/navbar
    include includes/container
      p
        h3 Id
        =row.id
      p
        h3 Text
        =row.text
      p
        h3 Show time
        =row.showTime
      p
        h3 Scrolling
        =row.scrolling
      p
        h3 Time
        From #{util.convertToTime(row.startTime)} to #{util.convertToTime(row.endTime)}

