!!!
html
  include includes/head
  body
    include includes/navbar
    include includes/container
      div
        for row in rows
          p
            a(href='/texts/' + row.id)= row.text
            span.muted  (#{util.convertToTime(row.startTime)} to #{util.convertToTime(row.endTime)})

