!!!
html
  include includes/head
  body
    include includes/navbar
    .container
      .row
        .hero-unit
          h1 Texts
          div
            for row in rows
              p= row.text

    include includes/scripts
