!!!
html
  include includes/head
  body
    include includes/navbar
    .container
      .row
        .hero-unit
          h1 Text 
            p
              h3 Id
              =row.id
            p
              h3 Text
              =row.text

    include includes/scripts

