!!!
html
  include includes/head
  body
    include includes/navbar
    .container
      .row
        .hero-unit
          h1 Texts
          div
            for text in data.texts
              p= textn

    include includes/scripts
